.home-page {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.home-page h1 {
    font-weight: bold;
    font-size: 20px;
}

.home-page button {
    background-color: violet;
    border-radius: 12px;
}