.home-page {
    text-align: center;
    padding: 70px, 0px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}

.home-page h1 {
    font-weight: bold;
    font-size: 20px;
}

.home-page button {
    background-color: violet;
    border-radius: 12px;
}

.answer-button {
    background-color: violet;
    border: 20px;
    font-size: 15px;
}